@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.detailsWrapper {
  display: grid;
  justify-items: center;
  padding: 6rem;
  gap: 70px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 80px;
  position: relative;
  text-transform: capitalize;
  line-height: 60px;
}

.name {
  color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 2px lightgray;
  text-transform: uppercase;
  position: relative;
  left: 20px;
  height: fit-content;
}

.name::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 0;
  color: #383d52;
  -webkit-text-stroke: 0 #383d52;
  overflow: hidden;
  animation: progress 2s ease-in-out forwards;
}

.backLink {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: block;
  width: fit-content;
  line-height: 20px;
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.6;
  font-size: 40px;
  position: relative;
  left: 20px;
}

.backLink:hover {
  text-decoration: underline;
}

.image {
  position: relative !important;
  object-fit: contain;
  padding: 20px;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.deepDetails {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
}

@media (max-width: 700px) {
  .detailsWrapper {
    padding: 3rem;
    gap: 40px;
  }

  .name {
    font-size: 60px;
    left: 0;
    line-height: 50px;
  }

  .deepDetails {
    font-size: 18px;
    line-height: 40px;
  }

  .backLink {
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 20px;
    left: 0;
  }

  .image {
    padding: 0;
  }
}
